:root {
  /*Colores*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  /*Fuentes*/
  --fuente-principal: 3.8rem;
}
/*Globales*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /*1 rem = 10px*/
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.54);
  background-color: var(--blanco);
  border-radius: 1rem;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.titulo {
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

.boton:hover {
  cursor: pointer;
}

@media (min-width: 480px) {
  .boton {
    width: auto;
  }
}
.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion-principal a {
  display: block;
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

.contenido-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgb(0 0 0 / 70%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.servicios,
.navegacion-principal,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicio p {
  line-height: 2;
  text-align: center;
}
.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formulario {
  background-color: var(--gris);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none;
}

.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--primario);
}

/*.contenido-campos {
  
}*/

.campo {
  margin-bottom: 1rem;
}

.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.wdt100 {
  width: 100%;
}

@media (min-width: 768px) {
  .wdt100 {
    width: auto;
  }
}
.alinear-derecha {
  justify-content: flex-end;
}

.flex {
  display: flex;
}
